/*-- @media for header --*/

@media (max-width: 1200px) {
	.menu-button {
		display: block;
	}

	.header__nav {
		display: block;
		position: absolute;
		border-radius: 3px;
		width: auto;
	    background-color: rgb(38, 38, 38);
	    top: 40px;
	    height: 0;
	    z-index: 10;
	    overflow: hidden;
	    transition: .3s;
	}
	
	.nav-link {
		color: #fff;
		display: block;
		margin-left: 20px;
		margin-top: 25px;
	}

	.nav-link:hover {
		color: #fff;
	}

	.header__nav-show {
		height: 200px;
	}

	h1 {
		margin-top: 0;
	}

	.header-content {
		/*text-align: center;*/
	}

	.header-content__paragraph {
		padding-right: 0;
	}
}

@media (max-width: 992px) {
	.header-content {
		text-align: center;
	}
	
	.header-content__img {
		margin-top: 30px;
	}
}

@media (max-width: 768px) {
	h1 {
		font-size: 20px;
	}

	.section-title {
		font-size: 20px;
	}
	
	.header__contact {
		font-size: 14px;
	}
	.contact-text {
		font-size: 12px;
	}

	.contact-button-menu {
		font-weight: bold;
		font-size: 11px;
		padding: 10px 18px;
	}
}

@media (max-width: 523px) {
	.menu-button__element {
		width: 28px;
	}

	.header__contact > .contact-phone {
		font-size: 12px;
	}

	.header__contact > .contact-text {
		font-size: 12px;
	}

	.contact-button-menu {
		display: none;
	}

	.header-content__text {
		font-size: 22px;
	}

	.header-content__name {
		font-size: 24px;
	}

	.header-content__paragraph {
		font-size: 14px;
	}

	.header-content__btn {
		font-size: 12px;
		padding: 10px 26px;
	}
}

@media (max-width: 400px) {
  	.menu-button__element {
		width: 26px;
	}

	.header__contact > .contact-phone {
		font-size: 10px;
    margin-right: 10px;
	}
  
  .header__contact > .contact-phone::after {
    right: -7px;
    height: 20px;
  }

	.header__contact > .contact-text {
		font-size: 10px;
    margin-right: 0;
	}
}


/*--- @media for section .about ---*/

@media (max-width: 510px) {
	.section-paragraph {
		font-size: 13px;
	}
}

/* works section */

@media screen and (max-width: 992px){
	.text-box h4{
		margin: 0;
		margin-left: 10px;
		margin-bottom: 20px;
		margin-top: 20px;
		font-size: 18px;
	}

	.text-box p{
		margin: 0;
		margin-left: 10px;
		margin-bottom: 15px;
		font-size: 12px;
	}

	.text-box button.more-info{
		font-size: 10px;
		padding: 10px 18px;
	}

}

@media (min-width: 992px){

	.text-box h4{
		margin: 0;
		margin-left: 10px;
		margin-bottom: 30px;
		margin-top: 20px;
		font-size: 22px;
	}

	.text-box p{
		margin: 0;
		margin-left: 10px;
		margin-bottom: 30px;
		font-size: 14px;
	}

	.text-box button.more-info{
		padding: 12px 25px;
		font-size: 12px;
	}
}


/*--- @media for advantagers and for .works ---*/
@media (max-width: 767px) {
	.differences__content > p {
		font-size: 14px;
	}

	.text-box h4{
		margin: 0;
		margin-left: 10px;
		margin-bottom: 30px;
		margin-top: 20px;
		font-size: 22px;
	}

	.text-content p {
		font-size: 12px;
	}

	.text-box p{
		margin: 0;
		margin-left: 10px;
		margin-bottom: 30px;
		font-size: 14px;
	}

	.text-box button.more-info{
		padding: 12px 25px;
		font-size: 12px;
	}
}


/*--- @media for footer ---*/

@media (max-width: 992px){
	.footer__contact-info {
		margin-bottom: 20px;
		text-align: center;
	}

	.footer__contact {
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.footer__contact-text {
		font-size: 12px;
		margin-right: 5px;
	}

	.footer__contact-link {
		margin-right: 2px;
	}

	.footer__contact-link > img {
		width: 18px;
		height: 18px;
		margin-right: 0;
	}

	.footer__contact > .contact-phone {
		font-size: 12px;
	}

	.footer__contact > .contact-text {
		font-size: 12px;
	}
}

@media (max-width: 400px) {
  .footer__contact-text {
    display: block;
    margin-bottom: 5px;
  }
  
  .footer__contact-info {
    margin-bottom: 8px;
  }
}
